.widget {
  margin: 0.5em;
  
  background: #1c9e9e;
}


.widget__header {
  margin: 0;
  padding: 0.5em 0.8em;

  background: #1b5959;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}
.widget__header-title {
  margin: 0;
  padding: 0;

  font-size: 1.5em;
  font-weight: 500;
}
.widget__header-count-unread-news {
  margin: 0;
  padding: 0;

  width: 1.5em;
  height: 1.5em;

  border-radius: 50%;
  background: #f21f5b;

  display: flex;
  align-items: center;
  justify-content: center;
}


.widget__news-container {
  margin: 0;
  padding: 0;

  display: none;
}
.widget__news-container_opened {
  display: block;
}


.widget__separator {
  margin: 0 0.8em;

  height: 1px;
  background: #fff;
  box-sizing: border-box;
}